/* Color the whole backgroound */
body {
    background:url("assets/images/ep_naturalwhite.png");
    width: 100%;
    margin: 0px;
}

/* Top Header */
header {
    background-color: #ffffff;
    border-bottom: thin solid grey;
    top:0px;
    left: 0px;
    position: fixed;
    width: 100%;
}
/* Name box */
.title-name {
    background-color: teal;
    color: white;
    padding: 10px;
    float:left
}
/* Navigation */
nav {
    width: 200px;
    padding:5px;
    float:right;
    color: grey;
}

a{
    text-decoration: none;
}

#links-text {
    float:left;
}
.top-header {
    margin-left: auto;
    margin-right: auto;
    width: 960px;
}


/* Styling the main content */


.wrapper-content {
    width: 960px;
    margin-top: 100px; /* push from the top */
    margin-left: auto;
    margin-right: auto;
    height: 700px;
}


/* Style the section*/
section {
    background-color: #ffffff;
    color: teal;
    padding: 25px;
    font-family: Arial;
    font-size: larger;
    width: 640px;
    float: left;
}
.content-text {
    color: grey;
    font-weight: 100;
    line-height: 40px;
}

/* style the image */
img {
    float: left;
    padding: 10px;
    border-radius: 50%;
}

/* Style the side bar */
aside {
    text-align: center;
    float: right;
    padding:10px;
    background-color: #ffffff;
    color: teal;
}
/* Add more spacing for all paragraphs*/
p{
    line-height: 150%;
}

/* Style the footer */
footer {
    background-color: dimgrey;
    border-top: thick solid teal;
    bottom: 0px;
    color: white;
    height: 100px;
    line-height: 100px;
    position: fixed;
    text-align: center;
    width: 100%;
    margin: 0px;
}

/* Input */
input, textarea {
    width: 100%;
    line-height: 2em;
}
/* Style the button */
button {
    background-color: #4aaaa5; /* Teal */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

.box1, .box2, .box3, .box4, .box5{
    height: 250px;
    width: 300px;
    float:left;
    margin-right: 20px;
    margin-top: 20px;
    text-align: center;
}

/* Add background images to each box */
.box1 {
    background:url("assets/images/js.png");
}
.box2 {
    background:url("assets/images/html.png");}
.box3 {
    background:url("assets/images/css.png");}
.box4 {
    background:url("assets/images/node.png");}
.box5 {
    background:url("assets/images/mongo.png");}

/* Style the inner div for each box */
.box-content {
    background-color: teal;
    text-align: center;
    margin-top: 200px;
    color:#ffffff;
}


@media only screen and (max-width: 980px) {
    .top-header {
        margin-left: auto;
        margin-right: auto;
        width: 80%;
    }
    .wrapper-content {
        width: 80%;
    }
    .content{
        height:1050px
    }
    section {
        width: 450px;
    }
    #me {
        float: none;
        border-radius: 0%;
        height: 200px;
        width: 300px;
    }

    .section-box {
        height: 1540px;
    }
    .box1, .box2, .box3, .box4, .box5 {
        width:440px;
        background-repeat: no-repeat;
    }
    .contact {
        height: 550px;
    }
    textarea {
        height: 200px;
    }

}

@media only screen and (max-width: 768px) {
    section {
        width: 530px;
    }
    #me {
        float: left;
        border-radius: 40%;
        height: 200px;
        width: 300px;
    }
    p{
        text-align: left;
    }
    aside{
        margin-top: 20px;
        width: 560px;
        float: left;
    }
    h1 {
        text-align: left;
    }
    .box1, .box2, .box3, .box4, .box5{
        height: 250px;
        width: 245px;
        float:left;
        margin-right: 20px;
        margin-top: 20px;
        text-align: center;
    }

    .box1 {
        background:url("assets/images/js250x250.png");
    }
    .box2 {
        background:url("assets/images/html250x250.png");}
    .box3 {
        background:url("assets/images/css250x250.png");}
    .box4 {
        background:url("assets/images/node250x250.png");}
    .box5 {
        background:url("assets/images/mongodb250x250.png");}






    .section-box {
        height: 900px;
    }
    .wrapper-content-portfolio {
        height:1300px;
    }
    .wrapper-content-contact {
        height: 1000px;
    }

}

@media only screen and (max-width: 640px) {
   section {
       width: 85%;
   }
    .section-box {
        height: 100%;
        width: 440px;
    }
    #me {
        float: none;
        border-radius: 0%;
        width: 400px;
        height: 300px;
    }
    .wrapper-content {
        height:100%;
    }
    .box1, .box2, .box3, .box4, .box5 {
        width:440px;
        background-repeat: no-repeat;
    }
    .box1 {
        background:url("assets/images/js450x250.png");
    }
    .box2 {
        background:url("assets/images/html450x250.jpg");
    }
    .box3 {
        background:url("assets/images/css450x250.png");
    }

    .box4 {
        background:url("assets/images/node450x250.png");
    }
    .box5 {
        background:url("assets/images/mongo450x250.png");
    }
    aside {
        width: 470px;
        margin-bottom: 200px;
    }
}


